<h1>HotDocs: Components</h1>

<p>
  Here's an overview of the components HotDocs provides:
</p>

<h1>Desktop</h1>

<div class="screenshot screenshot--desktop">
  <%= image_tag asset_path("hot_docs_components_desktop.png"), size: "TODO", alt: "TODO", class: "screenshot__image" %>
</div>

<h1>Mobile</h1>

<div class="screenshot screenshot--desktop">
  <%= image_tag asset_path("hot_docs_components_mobile.png"), size: "TODO", alt: "TODO", class: "screenshot__image" %>
</div>
