<h1>HotDocs: Components</h1>

<p>
  Here's an overview of the components HotDocs provides:
</p>

<h1>Desktop</h1>

<div class="screenshot screenshot--desktop">
  <%= image_tag asset_path("hot_docs_components_desktop.png"), loading: "lazy", size: "600x385", alt: "Screenshot of this website on desktop: top = nav, left = menu, right = table of contents, bottom = footer.", class: "screenshot__image" %>
</div>

<h1>Mobile</h1>

<div class="screenshot screenshot--mobile">
  <%= image_tag asset_path("hot_docs_components_mobile.png"), loading: "lazy", size: "400x1120", alt: "Screenshot of this website on mobile: top = nav, top-left = sidenav, center-top = table of contents, bottom = footer.", class: "screenshot__image" %>
</div>
