<h1>HotDocs: Footer</h1>

<p>
  You can support HotDocs by either:
</p>

<ul>
  <li>Keeping the "Built with Rails &amp; HotDocs" credits</li>
  <li>Paying for a license</li>
</ul>

<h2>Implementation</h2>

<ul>
  <li>Html: <%= link_to raw("<code>layouts/hot_docs.html.erb</code>"), "#TODO" %></li>
  <li>Css: <code>.footer</code> in <%= link_to raw("<code>hot_docs.css</code>"), "#TODO" %></li>
</ul>

<h2>Appearance</h2>

<h3>Desktop</h3>

<h3>Mobile</h3>
