<%= content_for(:title, "HotDocs: Markdown") %>

<h1>HotDocs: Markdown 🔜</h1>

<p>
  Markdown support is not yet available.
</p>

<p>
  You can chime in on <%= external_link_to "this GitHub discussion", "https://github.com/3v0k4/hot_docs/discussions/7" %> to let us know you want it or to share wishes and feedback.
</p>
