<h1>HotDocs: Quickstart</h1>

<p>
  There are 2 ways to get started with HotDocs:
</p>

<ul>
  <li>
    <%= link_to "Embed HotDocs in an already existing Rails application", embedded_path %>
  </li>

  <li>
    <%= link_to "Create a new Rails application for your docs", standalone_path %>
  </li>
</ul>

<p>
  If you are in doubt, embed if you already have an app, otherwise create a new one.
</p>

<p>
  Switching from one to the other is easy, so keep it simple!
</p>
