<%= content_for(:title, "HotDocs: Static export") %>

<h1>HotDocs: Static export 🔜</h1>

<p>
  Static export is not yet available.
</p>

<p>
  You can chime in on <%= external_link_to "this GitHub discussion", "https://github.com/3v0k4/hot_docs/discussions/10" %> to let us know you want it or to share wishes and feedback.
</p>
