<h1>HotDocs: Standalone</h1>

<p>
  Follow these steps to create a new Rails application for your docs:
</p>

<pre><code>git clone https://github.com/3v0k4/hot-docs</code></pre>

<p>
  To customize your docs, take a look at <%= link_to "Components", components_path %>.
</p>
