<h1>HotDocs: Standalone</h1>

<p>
  Clone the repository that powers this website as a starting point:
</p>

<pre><code>git clone https://github.com/3v0k4/hot-docs</code></pre>

<p>
  To customize your docs, take a look at <%= link_to "Components", components_path %>.
</p>
