:root {
  --docs-background-active-color: #d9d9d9;
  --docs-background-color: #e9e9e9;
  --docs-border-color: #dadada;
  --docs-code-background-color: #e9e9e9;
  --docs-text-color: #1c1e21;
}

[data-theme=dark]:root {
  --docs-background-active-color: #5a5a5a;
  --docs-background-color: #444444;
  --docs-border-color: #535353;
  --docs-code-background-color: #4f4f4f;
  --docs-text-color: #e3e1de;
}

.article {
  color: var(--docs-text-color);

  .title {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 0;
    text-align: center;
  }

  .subtitle {
    font-size: 1.25rem;
    margin-top: 1rem;
    text-align: center;
  }

  .typewriter {
    border-right: 0.08em solid var(--docs-text-color);
    font-weight: bold;
  }

  .logo {
    display: block;
    height: 10rem;
    margin-block: 5rem;
    margin-inline: auto;
    width: 10rem;
  }

  .action {
    margin-block: 5rem;
    text-align: center;
  }

  .action__button {
    background-color: var(--docs-background-color);
    border-radius: 6px;
    color: var(--docs-text-color);
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-decoration: none;

    &:hover {
      background-color: var(--docs-background-active-color);
    }
  }

  .benefits {
    container-type: inline-size;
    margin-block: 10rem;
  }

  .benefits__cards {
    column-gap: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @container (min-width: 35rem) {
      flex-direction: row;
      row-gap: 1rem;
    }
  }

  .benefits__card {
    flex: 1 0 0;
  }

  .benefits__card-title {
    font-weight: bold;
  }

  .comparison {
    margin-block: 10rem;
  }

  .comparison__table {
    border-collapse: collapse;
    width: 100%;
  }

  .comparison__table tr:nth-child(even) {
    background-color: var(--docs-background-color);
  }

  .comparison__table th, .comparison__table td {
    border: 1px solid var(--docs-border-color);
    padding: 0.5rem;
  }

  .comparison__what {
    text-align: left;
  }

  .comparison__who {
    text-align: center;
    width: 10rem;
  }

  .comparison__note {
    font-size: 0.8rem;
  }

  .comparison__how {
    text-align: center;
    width: 10rem;
  }

  a {
    color: var(--docs-text-color);

    &:has(code) {
      text-underline-position: under;
      text-decoration-thickness: 1px;
    }
  }

  h1 {
    font-size: 2rem;
  }

  h2 code {
    font-size: 1.5rem;
  }

  .screenshot {
    max-width: 400px;
  }

  .screenshot--desktop {
    max-width: 600px;
  }

  .screenshot__image {
    height: auto;
    width: 100%;
  }







  pre {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;
    margin-left: 0;
    width: 100%;
    border-radius: .375rem;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);;
    scrollbar-color: hsla(0,0%,0%,0.1) transparent;
  }

  code {
    background: var(--docs-code-background-color);
    font-size: 0.8rem;
    overflow-x: auto;
    overflow: auto;
    word-break: break-all;
  }

  code {
    border-radius: 5px;
    display: inline;
    padding: 0.2rem 0.4rem;
  }

  pre code {
    display: block;
    padding: 1em;
  }
}
