:root {
  --footer-background-color: #c6c6c6;
}

[data-theme=dark]:root {
  --footer-background-color: #444444;
}

.footer {
  background-color: var(--footer-background-color);
  padding: 32px 16px;
}

.footer__sections {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  max-width: 1200px;
  margin: auto;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer__section {
  flex: 1 1 0;
}

.footer__heading {
  font-weight: bold;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__credits {
  font-size: 0.8rem;
  margin-top: 60px;
  text-align: center;
}
