:root {
  --footer-background-color: #c6c6c6;
}

[data-theme=dark]:root {
  --footer-background-color: #444444;
}

.footer {
  background-color: var(--footer-background-color);
  padding: 4rem 1rem;
}

.footer__sections {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  max-width: 1200px;
  margin: auto;

  @media (min-width: 40rem) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 64rem) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer__section {
  flex: 1 1 0;
}

.footer__heading {
  font-weight: bold;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__logo {
  margin: 3rem auto;
  height: 8rem;
  width: 8rem;
}

.footer__credits {
  font-size: 0.8rem;
  text-align: center;
}
